<div class="row">
    <div class="col-xs-12">
        <form #shoppingForm="ngForm" (ngSubmit)="addIngredient(shoppingForm)">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required class="form-control" ngModel #name="ngModel">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" id="amount" required class="form-control" ngModel 
                    pattern="^[1-9]+[0-9]*$"
                    #amount="ngModel"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-sm m-1" [disabled] = "!shoppingForm.valid">{{editMode?'Update' :'Add'}}</button>
                    <button type="button" class="btn btn-danger btn-sm m-1" *ngIf="editMode" (click) = "deleteIngredient()">Delete</button>
                    <button type="button" class="btn btn-primary btn-sm m-1" [disabled] = "!name.valid" (click) = 'clearIngredient(shoppingForm)'>Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>